/*font-family: 'Fjalla One', sans-serif; (400) 
font-family: 'Gayathri', sans-serif;(100 400 700) */

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  /*font-family*/
  --ff-primary: 'Fjalla One', sans-serif;
  --ff-secondary: 'Gayathri', sans-serif; 
  /*colors*/
  --clr-light: #ffd8be; 
  --clr-dark: #303030; 
  /*font-size*/
  --fs-h1: 1.8rem; 
  --fs-h2: 1.5rem;
  --fs-body: 1rem; 
}

body {
  background-color: var(--clr-light);
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 800px) {
  .container {
    margin: 2em auto;
  }
}

.imgSection {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  left: 25px;
}
.img {
  max-width: 25vw;
  border: 3px solid var(--clr-dark);
  border-radius: 50%;
  margin: 0 auto ;
}

.profile {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  text-decoration: none;
  color: var(--clr-dark);
  margin: 0 auto;
}

.linkSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.linkItem {
  list-style: none;
  background-color: var(--clr-dark);
  border-radius: 8px;
  text-align: center;
  margin: .5em auto;
  cursor: pointer;
}

.link {
  color: white;
  text-decoration: none;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 8px;
  text-align: center;
  margin: .5em auto;
  cursor: pointer
}

.linkItem:hover {
  color: var(--clr-light);
  position: relative; 
  top: .2em;

}

.fa-youtube {
  color: red;
  font-size: var(--fs-h2);
}

.socialItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  justify-content: center;
}

.socialItem {
  list-style: none;
}

.socialItem:hover {
  position: relative;
  top: .2em;
}

.social {
  color: var(--clr-dark);
  font-size: 3rem;
}